<div class="container p-3">
  <div class="row">
    <%= render 'admin/shared/header.html.erb' %>
    <div class="col-md-12">
      <h3>商品一覧</h3>
    </div>
  </div>
</div>


<div>
  <%= link_to "追加", new_admin_item_path %>
</div>

<table>
  <thead>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
  </thead>

  <tbody>
    <% if @items.nil? %>
      <% @itmes.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td>
            <%= link_to item.name, admin_item_path(item.id) %>
          </td>
          <td><%= item.price %></td>
          <td><%= item.genre_id.name %></td>
          <td>
          <% if item.is_active == true %>
            <p>販売中</p>
          <% else %>
            <p>販売停止中</p>
          <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
    <tr>
      <td>まだ商品は登録されていません。</td>
    </tr>
    <% end %>

  </tbody>
</table>


