<div class="container p-3">
  <div class="row">
    <%= render 'admin/shared/header.html.erb' %>
    <div class="col-md-12">
      <%= flash[:notice] %>
      <h3>商品詳細</h3>
      <table class="table">
        <div><%= image_tag @item.image, size: "200x200" %></div>
        <tr>
          <td>商品名</td>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <td>商品詳細</td>
          <td><%= @item.detail %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><%= @item.genre.name %></td>
        </tr>
        <tr>
          <td>税込価格<br>(税抜価格)</td>
          <td>
      　　　￥<%= @item.add_tax_price.to_s(:delimited) %>(<%= @item.price.to_s(:delimited) %>)
      　　</td>
        </tr>
        <tr>
          <td>販売ステータス</td>
          <td>
            <% if @item.is_active == true %>
              <p>販売中</p>
            <% else %>
              <p>販売停止中</p>
            <% end %>
          </td>
        </tr>
      </table>
      <%= link_to edit_admin_item_path(@item.id) do %>
       <buttun class="btn btn-success">編集する</buttun>
      <% end %>
    </div>
  </div>
</div>