<%= render 'admin/shared/header.html.erb' %>
<div class="container p-3">
  <div class="row　address-box">
    <div class="col-md-12 address-main-box">
      <h3 class="mb-5 mt-3 address-title">管理者ログイン</h3>
      <p class="alert text-center text-danger"><%= alert %></p>
      <%= form_with model: @admin, url: admin_session_path do |f| %>
        <div class="row address-box">
          <div class="col-3 address-label">メールアドレス</div>
          <div class="col-6 mb-3 address-from">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: 'form-control' %>
          </div>
        </div>

        <div class="row address-box">
          <div class="col-3 address-label">パスワード</div>
          <div class="col-6 mb-3 address-from">
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
          </div>
        </div>

        <div class="row address-box">
          <div class="col-md-3 offset-md-3 mt-3 address-btn address-btn-right">
            <%= f.submit "ログイン", class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>
