<%= render 'admin/shared/header.html.erb' %>
<div class="container p-3">
  <div class="row">

    <div class="col-md-12">
      <div class="col-md-3">

      </div>
      <h2 class="mb-5 mt-3">管理者ログイン</h2>
      <div class="container">
      <%= form_with model: @admin, url: admin_session_path do |f| %>
        <div class="row">
          <div class="col-3">メールアドレス</div>
          <div class="col-6 mb-3">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: 'form-control' %>
          </div>
        </div>

        <div class="row">
          <div class="col-3">パスワード</div>
          <div class="col-6 mb-3">
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
          </div>
        </div>
        <div class="col">
          <%= f.submit "ログイン", class: "btn btn-success" %>
        </div>
      <% end %>
      </div>

      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>
