<%= render 'public/shared/header.html.erb' %>
<div class="container p-3">
  <div class="row">

    <div class="col-md-3 col-md-offset-1">
      <%= render 'public/items/genre_search.html.erb' %>
    </div>
    <div class="col-md-8 col-md-offset-4">

    <div class="d-flex align-items-end mb-3 mt-3">
      <h3 class="mb-0">「<%= params[:word] %>」の検索結果一覧</h3>
      <p class="mb-0">　(全<%= @items.count %>件)</p>
    </div>

    <div>
      <div class="row row-cols-4 mt-4 mb-3">
        <% @items.each do |item| %>
        <diV class="col mr-4 mt-4">
          <div>
            <%= link_to item_path(item) do %>
              <%= image_tag item.image, size: "160x120", class: "object-fit-cover" %>
            <% end %>
          </div>
          <div>
            <%= link_to item_path(item), class: "text-dark" do %>
              <%= item.name %>
            <% end %>
          </div>
          <div>
            ￥<%= item.add_tax_price.to_s(:delimited) %>
          </div>
        </diV>
        <% end %>

      </div>
     <div><%= paginate @items, theme: 'bootstrap-5' %></div>
   </div>
  </div>
  </div>
</div>
<%= render 'public/shared/footer.html.erb' %>