<%= render 'public/shared/header.html.erb' %>
<div class="container p-3">
  <div class="row">

    <div class="col-md-3 col-md-offset-1">
      <%= render 'public/items/genre_search.html.erb' %>
    </div>
    
    <div class="col-md-9">
      <div class="d-flex align-items-end mb-3 mt-3">
        <h3 class="mb-0">「<%= params[:word] %>」の検索結果一覧</h3>
        <p class="mb-0">　(全<%= @items_count %>件)</p>
      </div>
      <%= render 'public/items/index.html.erb', items: @items %>
    </div>
  </div>
  <div><%= paginate @items, theme: 'bootstrap-5' %></div>
</div>

<%= render 'public/shared/footer.html.erb' %>