<h3>配送先登録/一覧</h3>
<table>
  <%= form_with @address do |f| %>
  <tr>
    <td>郵便番号(ハイフンなし)</td>
    <td><%= f.text_field :post_code %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td><%= f.text_field :address %></td>
  </tr>
  <tr>
    <td>宛名</td>
    <td><%= f.text_field :name %></td>
    <td><%= f.submit '新規登録' %></td>
  </tr>
  
  <% end %>
</table>


<table>
  <thead>
    <th>郵便番号</th>
    <th>住所</th>
    <th>宛名</th>
    <th></th>
  </thead>
  <tbody>
    <% @addresses.each do |address| %>
     <td>
       <p><%= address.post_code %></p>
     </td>
     <td>
       <p><%= address.address %></p>
     </td>
     <td>
       <p><%= address.name %></p>
     </td>
     <td>
       <%= link_to "編集する", edit_address_path(address.id) %>
       <%= link_to "削除する", destroy_address_path(address.id), method: :delete, "data-cofirm" => "本当に削除しますか？" %>
     </td>
     <% end %>
  </tbody>
</table>