<%= render 'public/shared/header.html.erb' %>
<div class="container p-3">
  <div class="row">
    <div class="col">
      <h3 class="mt-3 mb-3">初めてご利用の方</h3>
      <p class="mb-5">こちらから会員登録を行ってください。</p>



      <div class="bg-light w-100 my-5 py-4">

          <%= form_with model: @member, url: member_registration_path do |f| %>
        <table class="table table-borderless">
          <tr>
            <td>名前</td>
            <td><span class="text-light necessary-field p-1 px-2 ml-2 small rounded">必須</span></td>
            <td>(姓)　<%= f.text_field :family_name, autofocus: true, placeholder: "令和" %>
                (名)　<%= f.text_field :first_name, placeholder: "道子" %></td>
          </tr>

          <tr>
            <td>フリガナ</td>
            <td><span class="text-light necessary-field p-1 px-2 ml-2 small rounded">必須</span></td>
            <td>(セイ)<%= f.text_field :family_name_kana, placeholder: "レイワ"%>
                (メイ)<%= f.text_field :first_name_kana, placeholder: "ミチコ" %></td>
          </tr>

          <tr>
            <td>メールアドレス</td>
            <td><span class="text-light necessary-field p-1 px-2 ml-2 small rounded">必須</span></td>
            <td><%= f.text_field :email, placeholder: "sample@example.com" %></td>
          </tr>

          <tr>
            <td>郵便番号(ハイフンなし)</td>
            <td><span class="text-light necessary-field p-1 px-2 ml-2 small rounded">必須</span></td>
            <td><%= f.text_field :post_code, placeholder: "0000000" %></td>
          </tr>

          <tr>
            <td>住所</td>
            <td><span class="text-light necessary-field p-1 px-2 ml-2 small rounded">必須</span></td>
            <td><%= f.text_field :address, size: 55, placeholder: "東京都渋谷区代々木神園町0-0" %></td>
          </tr>

          <tr>
            <td>電話番号(ハイフンなし)</td>
            <td><span class="text-light necessary-field p-1 px-2 ml-2 small rounded">必須</span></td>
            <td><%= f.text_field :telephone_number, placeholder: "00000000000" %></td>
          </tr>

          <tr>
            <td>パスワード
              <% if @minimum_password_length %>
                (<%= @minimum_password_length %> 文字以上)
              <% end %>
            </td>
            <td><span class="text-light necessary-field p-1 px-2 ml-2 small rounded">必須</span></td>
            <td><%= f.password_field :password %></td>
          </tr>
          <tr>
            <td>パスワード(確認用)</td>
            <td><span class="text-light necessary-field p-1 px-2 ml-2 small rounded">必須</span></td>
            <td><%= f.password_field :password_confirmation %></td>
          </tr>
        </table>

        <div class="text-center">
          <%= f.submit "新規登録", class:"btn rounded-pill necessary-field text-light px-3 mt-4" %></td>
        </div>

      <% end %>
      </div>

      <div>
        <h4 class="mt-5">既に登録済みのお客様</h4>
        <p>こちらからログインを行ってください。</p>
        <div class="text-center">
          <%= link_to "こちら", new_member_session_path, class: "btn text-light rounded-pill necessary-field px-4 mb-5" %>
        </div>
      </div>


    </div>
  </div>
</div>
<%= render 'public/shared/footer.html.erb' %>