<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 no-padding">
      <header class="p-2">

      <% unless flash[:notice].blank? %>
        <div class="text-center">
          <p><%= flash[:notice] %></p>
        </div>
      <% end %>

        <div class="d-flex justify-content-between align-items-center header-size">
          <%= link_to root_path, class: "navbar-brand text-dark" do %>
            <%= image_tag "LOGO.png", size: "80x80" %>
          <% end %>

          <% if admin_signed_in? %>
          <div>
            <nav class="mb-2">
              <ul class="navbar-nav list-group-horizontal">
                <li class="nav-item"><%= link_to "商品一覧", admin_items_path, class: "btn text-secondary mr-3" %></li>
                <li class="nav-item"><%= link_to "会員一覧", admin_members_path, class: "btn text-secondary mr-3" %></li>
                <li class="nav-item"><%= link_to "注文履歴一覧", admin_root_path, class: "btn text-secondary mr-3" %></li>
                <li class="nav-item"><%= link_to "ジャンル一覧", admin_genres_path, class: "btn text-secondary mr-3" %></li>
                <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn text-secondary mr-3" %></li>
              </ul>
            </nav>

            <div class="clearfix">
              <form class="form-inline float-right">
                <input class="form-control mr-sm-2 search-form" type="search" placeholder="Search" aria-label="Search">
                <button class="btn text-secondary my-2 my-sm-0" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </form>
            </div>
          </div>

          <% else %>

          <div>
            <nav class="mb-2">
              <ul class="navbar-nav list-group-horizontal">
                <li class="nav-item"><%= link_to "About", about_path, class: "btn text-secondary mr-3" %></li>
                <li class="nav-item"><%= link_to "商品一覧", items_path, class: "btn text-secondary mr-3" %></li>
                <li class="nav-item"><%= link_to "新規登録", new_member_registration_path, class: "btn text-secondary mr-3" %></li>
                <li class="nav-item"><%= link_to "ログイン", new_member_session_path, class: "btn text-secondary mr-3" %></li>
              </ul>
            </nav>

            <div class="clearfix">
              <form class="form-inline float-right">
                <input class="form-control mr-sm-2 search-form" type="search" placeholder="Search" aria-label="Search">
                <button class="btn text-secondary my-2 my-sm-0" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </form>
            </div>
          </div>

          <% end %>
        </div>
      </header>
    </div>

</div>
</div>