<div>
  <%= render 'genre', genres: @genres %>
</div>

<table>
  <thead>
    <% @items.each do |item| %>
    <tr><h3>商品一覧</h3><th>(全<%= item.count %>件)</th></tr>
  </thead>
  <tbody>
    <td>
      <td><%= item.image %></td>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
    </td>

  </tbody>
    <% end %>

</table>
