
<div class="container p-3">
  <div class="row">
    <%= render 'public/shared/header.html.erb' %>

      <div class="col-md-3 col-md-offset-1">
        <%= render 'public/items/genre_search.html.erb' %>
      </div>
      <div class="col-md-8 col-md-offset-4">
        <div class="container">
          <h3>商品一覧(全<%= Item.count %>件)</h3>
            <% if @items.nil? %>
              <h4>商品準備中です！</h4>
            <% else %>
            <div class="container">
              <% @items.each do |item| %>
              <div class="row">
              <div>
                <%= link_to item_path(item) do %>
                  <%= image_tag item.image, size: "150x150" %>
                <% end %>
              </div>
              <div>
                <%= link_to item_path(item) do %>
                  <%= item.name %>
                <% end %>
              </div>
              <div>
                ￥<%= item.add_tax_price.to_s(:delimited) %>(<%= item.price.to_s(:delimited) %>)
              </div>
              </div>
              <% end %>
            <% end %>
            </div>
        </div>
      </div>

  <%= render 'public/shared/footer.html.erb' %>
  </div>
</div>
